<% layout('layouts/biolerplate') %>

  <h1>Campgrounds</h1>
  <div><a href="/campgrounds/new">Add new campground</a></div>

  <ul>

    <% for (let campground of campgrounds){ %>
      <li>
        <a href="/campgrounds/<%= campground._id %>">
          <%= campground.title %>
        </a>
        <a href="/campgrounds/<%= campground._id %>/edit">
          Edit
        </a>
      </li>

      <% } %>


  </ul>